.tasks-container {
  display: flex;
}

.paper-pending,
.paper-in-progress,
.paper-done-task {
  flex: 1;
  margin-right: 0px;
}

.paper-pending {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(125, 149, 230);
  border-radius: 5px;
}

.paper-in-progress {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(125, 149, 230);
  border-radius: 5px;
}


.paper-done-task {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(125, 149, 230);
  border-radius: 5px;
}

.pending-task {
  padding: 10px;
  margin-bottom: 10px;
}

.in-progress-task {
  padding: 10px;
  margin-bottom: 10px;
}

.done-task {
  padding: 10px;
  margin-bottom: 10px;
}

h3 {
  color: #000000c9
}