.tasks-container {
  display: flex;
}

.paper-pending,
.paper-in-progress,
.paper-done-task {
  flex: 1;
  margin-right: 0px;
  width: 350px;
  position: relative;

}

 h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  padding: 8px;
}

.paper-pending {
  border: 1px solid #ccc;
  padding: 10px;
  padding-top: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(185, 185, 142);
  border-radius: 5px;
}

.paper-in-progress {
  border: 1px solid #ccc;
  padding: 10px;
  padding-top: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(125, 149, 230);
  border-radius: 5px;
}


.paper-done-task {
  border: 1px solid #ccc;
  padding: 10px;
  padding-top: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(132, 233, 112);
  border-radius: 5px;
}

.pending-task {
  padding: 15px;
  margin-bottom: 10px;
  border: 0.5px solid #cccccc75;
  box-shadow: 0 4px 6px rgb(211, 230, 125);
  border-radius: 5px;
}

.in-progress-task {
  padding: 15px;
  margin-bottom: 10px;
  border: 0.5px solid #cccccc75;
  box-shadow: 0 4px 6px rgb(125, 188, 230);
  border-radius: 5px;
}

.done-task {
  padding: 15px;
  margin-bottom: 10px;
  border: 0.5px solid #cccccc75;
  box-shadow: 0 4px 6px rgb(125, 230, 125);
  border-radius: 5px;
}

h3 {
  color: #000000c9;
  font-size: large;
  margin-bottom: 10px;
}

.pending-task {
  display: flex;
  align-items: center;
}

.task-content {
  flex: 1;
}

.pending-title {
  flex: 1;
}


.task-status {
  margin-left: 5px;
}

.pending-task,
.in-progress-task,
.done-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-create{
  margin-top: 5px;
  font-size: 10.2px;
}

.date-mod{
  margin-top: 5px;
  font-size: 10.2px;
}

.dates-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
