.paper {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .pending-task {
    background-color: #FFD700; /* amarelo */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .inProgress-task {
    background-color: #87CEEB; /* azul claro */
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .done-task {
    background-color: #90EE90; /* verde claro */
    padding: 10px;
    margin-bottom: 10px;
  }
  