/* button.css */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-field {
    padding: 10px 105px;
    font-size: 16px;
    background-color: #8aff8a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.button-field:hover {
    background-color: #70e070;
}