body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
    position: absolute;
    left: 10px;
    top: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(125, 149, 230);
    border-radius: 5px;
}

.logo {
    width: 170px;
}

.logout-button {
    cursor: pointer;
    margin-right: 15px;
    margin: 15px;
    color: #0e96f1;
    font-size: 2rem;
}

.logout-button:hover {
    background-color: #d9f5fc;
}

.logout-button svg {
    margin-right: 5px;
}

.options-container {
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 5px;
}


.settings-button {
    cursor: pointer;
    margin-right: 15px;
    margin: 15px;
    color: #0e96f1;
    font-size: 2rem;
}

.settings-button :hover {
    background-color: #d9f5fc;
}