.paper-container {
    position: relative;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 15px;
    height: 45%;
    border-radius: 8px;
    border-color: #0077B5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-content h1 {
    margin-bottom: 30px;
    color: rgba(15, 15, 15, 0.683);
}

.popup-content p {
    margin-top: 10px;
    color: #090d0fa0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
}

.popup-content button {
    margin: 20px;
    margin-top: 70px; /* Ajuste a margem superior para descer mais o botão */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #0077B5;
    border-color: #000000;
    padding: 8px;
    width: 135px;
    font-size: 15px;
    cursor: pointer;
}