body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("../img/taskManager.jpg");
  background-position: center;
  background-size: cover;
}
