body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    color: rgba(15, 15, 15, 0.683);
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.nameInput,
.mailInput,
.phoneInput,
.passwordInput {
    padding: 10x;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 0;
}

.error-signup {
    color: red;
}

a {
    color: rgb(0, 187, 255);
    text-decoration: none;
    font-size: 14px;
    margin-top: -15px;
    display: block;
}

a:hover {
    text-decoration: underline;
}
